body {
    background: url(../img/pic.jpg) no-repeat center center fixed;
    background-size: cover;
    color: rgba(255, 255, 255, 0.9);
    font-family: Arial;
}

.stillness {
    height: 600px;
    text-align: center;
    position: relative;
    margin-bottom: 180px;
    margin-bottom: 150px;
    width: 100%;
}

.clef {
    background: url(../img/clef.png) 0px 0px no-repeat;
    opacity: 0.6;
    height: 100px;
    width: 100px;
    position: absolute;
	left: 90%;
    top: 2%;
    -webkit-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}