@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* background slideshow */

.bg-slideshow,
.bg-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.bg-slideshow div span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-animation: imgAnimation 72s linear infinite 0s;
    animation: imgAnimation 72s linear infinite 0s;
}

.bg-slideshow div div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 72s linear infinite 0s;
    animation: titleAnimation 72s linear infinite 0s;
}

.bg-slideshow div:nth-child(1) span {
    background-image: url(../img/pic1.jpg)
}

.bg-slideshow div:nth-child(2) span {
    background-image: url(../img/pic2.jpg);
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.bg-slideshow div:nth-child(3) span {
    background-image: url(../img/pic3.jpg);
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}

.bg-slideshow div:nth-child(4) span {
    background-image: url(../img/pic4.jpg);
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}

.bg-slideshow div:nth-child(5) span {
    background-image: url(../img/pic5.jpg);
    -webkit-animation-delay: 32s;
    animation-delay: 32s;
}

.bg-slideshow div:nth-child(6) span {
    background-image: url(../img/pic6.jpg);
    -webkit-animation-delay: 40s;
    animation-delay: 40s;
}

.bg-slideshow div:nth-child(7) span {
    background-image: url(../img/pic7.jpg);
    -webkit-animation-delay: 48s;
    animation-delay: 48s;
}

.bg-slideshow div:nth-child(8) span {
    background-image: url(../img/pic8.jpg);
    -webkit-animation-delay: 56s;
    animation-delay: 56s;
}

.bg-slideshow div:nth-child(9) span {
    background-image: url(../img/pic9.jpg);
    -webkit-animation-delay: 64s;
    animation-delay: 64s;
}

.bg-slideshow div:nth-child(2) div {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.bg-slideshow div:nth-child(3) div {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}

.bg-slideshow div:nth-child(4) div {
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}

.bg-slideshow div:nth-child(5) div {
    -webkit-animation-delay: 32s;
    animation-delay: 32s;
}

.bg-slideshow div:nth-child(6) div {
    -webkit-animation-delay: 40s;
    animation-delay: 40s;
}

.bg-slideshow div:nth-child(7) div {
    -webkit-animation-delay: 48s;
    animation-delay: 48s;
}

.bg-slideshow div:nth-child(8) div {
    -webkit-animation-delay: 56s;
    animation-delay: 56s;
}

.bg-slideshow div:nth-child(9) div {
    -webkit-animation-delay: 64s;
    animation-delay: 64s;
}

@-webkit-keyframes imgAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes imgAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}


/* text & music */

.text {
    height: 600px;
    text-align: center;
    position: relative;
    margin-top: 15%;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-family: Quicksand, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.clef {
    background: url(../img/clef.png) 0px 0px no-repeat;
    opacity: 0.6;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 44%;
    right: 0;
    bottom: 0;
    left: 48%;
    overflow: auto;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    -webkit-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

p {
    color: rgba(255, 255, 255, 0.6);
    font-family: Quicksand, sans-serif;
    letter-spacing: 2px;
    word-spacing: 0.2em;
    text-align: center;
    position: relative;
    z-index: 1000;
}

a:link {
    color: rgba(255, 146, 106, 0.6);
    text-decoration: none;
}

a:visited {
    color: rgba(255, 211, 63, 0.6);
}

a:hover {
    color: rgba(229, 193, 255, 0.6);
}